<div id="box">
	<h1>New Job</h1>
	<hr width=60%>
	<body align="center">
		<br>
		<div style="display: inline-block; max-width: 60%; text-align: left;">
		<%= form_tag("/jobs", method: "post") do %>
			<%= label_tag "URL" %>
			<%= text_field_tag :url, params[:url] %>
			<%= submit_tag "Submit" %>
		<% end %>
		</div>
		<br>
		<br>
		<div align="center"><c><%= link_to 'Back', jobs_path %></c></div>
	</body>
</div>
