<h1>New Job</h1>

<%= form_tag("/jobs", method: "post") do %>
	<%= label_tag "URL" %>
	<%= text_field_tag :url, params[:url] %>
	<%= submit_tag "Submit" %>
<% end %>

<%= link_to 'Back', jobs_path %>
