<p align="center" id="notice"><%= notice %></p>

<div id="box">
	<body>
		<div style="display: inline-block; max-width: 60%; text-align: left;">
		<p>
		  <strong>Job:</strong>
		  <%= @job.job_id %>
		</p>

		<p>
		  <strong>Url:</strong>
		  <%= @job.url %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= @job.status %>
		</p>
	</body>
		<p size="1">
		  <strong>Result:</strong>
		  <%= @job.result %>
		</p>

		<c><%= link_to 'Edit', edit_job_path(@job) %></c>
		<c><%= link_to 'Back', jobs_path %></c>
		</div>
</div>
